.option h5{
    text-decoration: none;
}
.sidebars {
    position: sticky;
    flex: 0.17;
    height: fit-content;
    

    .sidebars_option {
        

        .input_option {
            background-color: rgb(243, 239, 239);
        }
    }
}